    body {
        font-size: 12px !important;
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 45px !important;
    line-height: 45px !important;
}
	/* nav{
		 background-color: white;
		 background: conic-gradient(from 90deg, #fff, #000) !important;
		 background-image: linear-gradient( to right,#ffe259,#ffa751); 
		 background-image: linear-gradient( to right,#feb47b,#ef6c00); 
	} */
	.navbar-fixed {
    height: 45px !important;
   }
	nav a{
		   height: 45px !important;
	}
	 a.brand-logo:hover {
        background-color: transparent;
    }
    
    a.button-collapse:hover {
        background-color: #78909c;
    }
    /* a:active {
        background: black;
    } */
      .preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	opacity:0.8;
	} 
    .side-nav .collapsible-header:hover,
    .side-nav.fixed .collapsible-header:hover {
        background-color: #eceff1;
    }
    .side-nav.fixed {
    top:20px !important;
    }
    #sidenav-overlay {
        background-color: transparent;
    }
    .card-panel p{
     margin:2px	 !important;
     }
  	#addeditmsg{
  		width:30% !important;
  	}
  		#sendMsg{
			width:40%;
			height: 46% !important;
		}
    .blue-gradient{
    	background-color:#01579b!important;
    }
    /* .modal {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 100%;
        width: 90%;
        margin: auto;
        overflow-y: auto;
        border-radius: 2px;
        will-change: top, opacity;
    } */
    /*Scroll bars*/
    
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #3498ce;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }
      div.brand-logo {
        padding-left: 10px;
    }
    
    .side-nav {
        width: 200px;
        opacity: 1;
    }
    
    .side-nav .collapsible-body li a,
    .side-nav.fixed .collapsible-body li a {
        padding: 0 16px;
    }
    
    .side-nav li>a {
        color: rgba(0, 0, 0, 0.87);
        display: block;
        font-size: 16px;
        font-weight: 500;
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
    }
    
    .collapsible-header {
        min-height: 48px !important;
    }
    /*css for date-picker table border */
    .picker__table th,
    .picker__table tr:first-child th:first-child,
    .picker__table td:first-child{
    	border:none !important;
    }
    
   /*  .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin-top: 20px;
        position: relative;
        vertical-align: middle;
    } */
    /*table style start*/
    
    /* .dataTables_wrapper th,
     .dataTables_wrapper td,
     .tblborder th,
     .tblborder td {
        width: 5%;
    } */
      div.dt-buttons {
        position: relative;
        float: left;
         margin-top: 1%;
        margin-left: 30% !important;
    }
    .dataTables_wrapper td,   
     .tblborder td {
    padding: 5px 2px !important;
    display: table-cell;
    text-align: left;	
    vertical-align: middle;
    border-radius: 2px;
} 	

     .dataTables_wrapper td,  
    .tblborder table,
    .tblborder td   
   {   		
         border-top:none !important; 
         border-bottom: 1px solid #9e9e9e !important;
         border-right: 1px solid #9e9e9e !important;         
        font-size: 12px !important; 
        /*border-width: 1px;*/
    }
   
      	
	/* for giving border to header */
     th {
		  border-top: 1px solid #9e9e9e;
		 /*  border-bottom: 1px solid #9e9e9e !important; */
		  border-right: 1px solid #9e9e9e;
		} 
	
    /* for giving border to first element */
    tr:first-child th:first-child,
    td:first-child {
  		 border-left: 1px solid #9e9e9e !important; 
}
	/* for complex header remove top border */
   	tr:nth-child(2) th{
   	  border-top: none !important;
   	}
  	/* th, td {
  	 white-space: nowrap !important; 
  	 } */
   /*  th{
    	border:1px solid !important;
    } */
    .pdfButton,
    .excelButton,
    .printButton,
    .pageLengthButton,
    .colvisButton {
        background-image: linear-gradient(to bottom, transparent 0%, transparent 100%) !important;
        z-index: 1;
        border: none !important;
        padding: 0.3em 1em !important;
        margin-bottom: 1%;
        height: 28px !important;
        font-size: 14px !important;
    }
    /*for pdf,excel buttons text and icons font-size*/
    
    .dt-buttons span i,
    .dt-buttons span {
        font-size: 12px !important;
    }
    /*.pdfButton {
    margin-left: 10%;
}*/
    /*.pageLengthButton {
    padding: 0.6em 1em !important;
}*/
    
    .dataTables_wrapper {
        position: relative;
        clear: both;
        zoom: 1;
        margin-top:0 !important; 
        margin-left: 1%;
    }
    /*css for length (display records)*/
    
    .dataTables_length
    {
        width: 9% !important;
        margin-bottom:10px !important;
      /*   margin-top: 30px !important; */
        /*margin-left: 1% !important;*/
    }
    
  .dataTables_length .select-wrapper input.select-dropdown
     {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        outline: none;
        height: 1.5rem;
        line-height: 1rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 0 0;
        padding: 0;
        display: block;
    } 
    /*.dataTables_wrapper .dataTables_ length {
    width: 11% !important;
}*/
    
    table.dataTable.no-footer {
        border-bottom: none !important;
        margin-left: 0;
        margin-right: 0;
    }
    /*to overcome space of cells-start*/
    
     table.dataTable tbody td {
        padding: 0 8px !important;
    } 
    
  	
    table.dataTable thead th {
        /* padding: 3px 8px !important; */
       /*  border-bottom: none !important; */
    } 
     th{
    	border:1px solid:
    }
    /*to overcome space of cells-end*/
    
  
    
    .dataTables_wrapper tbody tr:hover {
        background-color: #eceff1 !important;
        z-index: 2;
    }
    
    div.dataTables_filter {
        margin: 1% 1%;
    }
    
    div.dataTables_filter input {
        border: 1px solid black !important;
        border-radius: 10px !important;
        color: black;
        padding-bottom:1%;
        
    }
    
    div.dataTables_filter::before {
        font-family: "FontAwesome";
        content: "\f002";
        padding: 4px;
        padding-top: 0;
        display: none;
    }
    
    .dataTables_filter label {
        color: transparent;
    }
    
    .dt-button-collection {
        margin-top: -43%;
        margin-left: 14%;
        transform-origin: 5%;
    }
    
    div.dt-button-collection.fixed {
        position: fixed;
        top: 47% !important;
        left: 64% !important;
        margin-left: -75px;
        border-radius: 0;
    }
    /*div.dataTables_filter {
        margin: 0% 5%;
        color: #285685;
    }
    
    div.dataTables_filter::before {
        font-family: "FontAwesome";
        content: "\f002";
        padding: 4px;
    }*/
    
    input[type=search] {
        /* margin-top: 11% !important; */
        margin-bottom: 0 !important;
        border-bottom: none !important;
        height: 2rem !important;
        text-indent: 10px !important;
    }
  /*   .dataTables_filter{
       	margin-top:40px !important;
       } */
    input[type=search]:focus {
        border-bottom: 1px !important;
        box-shadow: 0 1px 0 0 !important;
    }
    /*table style end*/
    
    .file-field .btn,
    .file-field .btn-large {
        float: left;
        height: 30px;
        line-height: 30px;
    }
    
    h3,
    h4,
    h5 {
        font-family: serif;
    }
    
    td a:hover {
        background-color: #e0e0e0;
    }
    
    i.right {
        float: right;
        margin-left: 5px;
    }
    
   
    
    i.material-icons.prefix.active {
        color: #285685;
    }
    
    form {
        padding-left: 0px;
    }
    
    td button i.material-icons {
        font-size: 20px;
    }
    
    td .btn-flat {
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0 0;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
    }
    
    table [type="checkbox"].filled-in:not(:checked)+label:after {
        height: 15px;
        width: 15px;
        background-color: transparent;
        border: 1px solid #5a5a5a;
        top: 0px;
        z-index: 0;
    }
    
    table [type="checkbox"].filled-in:checked+label:after {
        top: 0;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        background-color: transparent;
        z-index: 0;
    }
    
    table [type="checkbox"].filled-in:checked+label:before {
        top: 0;
        left: 1px;
        width: 6px;
        height: 10px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 90% 80%;
    }
    
    th a {
        font-size: 15px;
    }
    
    th a:active {
        background: transparent;
    }
    
   .tabs {
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        height: 30px;
        width: 100%;
        background-color: transparent;
        margin: 0 auto;
        white-space: nowrap;
        border-radius: 50px;
    }
    
    .tabs .tab {
        display: inline-block;
        text-align: center;
        line-height: 28px;
        height: 28px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        border-radius: 50px;
        padding: 0 3% 0 3%;
    }
    
    .tabs .tab a:hover,
    .tabs .tab a.active {
        background-color: #01579b !important;
        color: white;
    }
    
    .tabs .tab a {
        color: #01579b;
        display: block;
        width: 100%;
        height: 30px;
        padding: 0 24px;
        font-size: 14px;
        /*line-height: 0.2em;*/
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .28s ease;
      /*   border-radius: 10px; */
        border: 2px solid transparent;
       /* -moz-border-image: -moz-linear-gradient(top, #64b5f6 0%, #3f51b5 100%);
       -webkit-border-image: -webkit-linear-gradient(top, #64b5f6 0%, #3f51b5 100%);
       border-image: linear-gradient(to bottom, #64b5f6 0%, #3f51b5 100%); */
       border-image-slice: 1;
    }
    
    .tabs .indicator {
        position: absolute;
        bottom: 0;
        height: 4px;
        margin: 0 1% 0 1%;
        background-color: transparent;
        will-change: left, right;
        border-radius: 90px;
    }

    .card p {
        word-wrap: break-word;
    }
    
    @media only screen and (max-width: 992px) {
        .paddingBody {
            padding-left: 0px;
        }
       
        .tab {
            display: block;
            width: 100%;
            border-bottom: 1px solid #f0f0f0;
        }
        form {
            padding-left: 0px;
        }
        .side-nav {
            width: 250px;
            opacity: 1;
        }
        input[type=search] {
            margin-top: 6%;
            margin-bottom: 0;
            border-bottom: none;
            height: 2rem;
            text-indent: 10px;
        }
        a.brand-logo:hover {
            background-color: #78909c;
        }
        div.dt-button-collection.fixed {
            position: fixed;
            top: 28% !important;
            left: 69% !important;
            margin-left: -75px;
            border-radius: 0;
        }
    }
    
    main {
        flex: 1 0 auto;
        padding-right: 20px;
    }
    
    .blue.darken-5 {
        background-color: #0d3244 !important;
    }
    
    .blue.darken-6 {
        background-color: #395766 !important;
    }
    
    .blue.darken-7 {
        background-color: #074a5f !important;
    }
    
    .blue.darken-8 {
        background-color: #3498ce !important;
    }
    
    .blue.darken-9 {
        background-color: #1a4e6f !important;
    }
    
    .grey.darken-5 {
        background-color: #3b3b3b !important;
    }
    
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 24px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    input:not([type]):focus:not([readonly]),
    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #285685;
        box-shadow: 0 1px 0 0 #285685;
    }
    
    input:not([type]):focus:not([readonly])+label,
    input[type=text]:focus:not([readonly])+label,
    input[type=password]:focus:not([readonly])+label,
    input[type=email]:focus:not([readonly])+label,
    input[type=url]:focus:not([readonly])+label,
    input[type=time]:focus:not([readonly])+label,
    input[type=date]:focus:not([readonly])+label,
    input[type=datetime]:focus:not([readonly])+label,
    input[type=datetime-local]:focus:not([readonly])+label,
    input[type=tel]:focus:not([readonly])+label,
    input[type=number]:focus:not([readonly])+label,
    input[type=search]:focus:not([readonly])+label,
    textarea.materialize-textarea:focus:not([readonly])+label {
        color: #285685;
    }
    
    .select-dropdown li,
    .select-dropdown li>span,
    .select-dropdown li.optgroup {
        color: #285685;
        background-color: transparent;
    }
    
    .z-depth-2 {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        height: 65px;
    }
    
    .picker__date-display {
        text-align: center;
        background-color: #285685;
        color: #fff;
        padding-bottom: 15px;
        font-weight: 300;
    }
    
    .picker__weekday-display {
        background-color: #224971;
        padding: 10px;
        font-weight: 200;
        letter-spacing: .5;
        font-size: 1rem;
        margin-bottom: 15px;
    }
    
    .picker__close,
    .picker__today {
        font-size: 1.1rem;
        padding: 0 1rem;
        color: #285685;
    }
    
    .picker__day--selected,
    .picker__day--selected:hover,
    .picker--focused .picker__day--selected {
        border-radius: 50%;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        background-color: #285685;
        color: #ffffff;
    }
    
    .picker__day.picker__day--today {
        color: #285685;
    }
    
     .btn {
   
    font-size:0.8rem;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 1.2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
} 

/* css for dropdown with button */
/* .dropdown-button{
	    
	font-size:0.8rem;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

} */
    .dropdown-content .btn-flat {
            font-size: 10px !important;
            padding: 0 !important;
            width: 100% !important;
           /*  height:100% !important; */
            min-height: 50px;
    line-height: 1.5rem;
        }
        
       /*  .dropdown-content li {
            max-height: 20px !important;
        } */
      .dropdown-content li>a{
      min-height: 50px;
    line-height: 1.5rem;
font-size:12px !important;
padding:10px !important;
}



/* below css for changing the color of select */
/* 	.select-wrapper span.caret {
    color: white;
    position: absolute;
    right: 5px !important;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
}
	.select-wrapper{
		background-color:#26a69a  !important;
		color:white !important;
		box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3) !important;
	}
	    
	
	
	.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: none !important;
    outline: none;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    font-size: 0.8rem;
    margin: 0 0 20px 0;
    padding: 0;
    padding-left: 8px !important;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
	.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 1rem !important;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
	.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 10px 10px !important;
} */